<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @admin.first_name.capitalize %>,</h1>
    <p>
      Tu as un nouveau participant : <%= @attendee.first_name %>
    </p>

    <p>
      Cordialement,
      L'équipe Eventbrite
    </p>
  </body>
</html>
